
body {
  background-color: #c9ffc9;
  font-family: arial;
}

h1 {color: white;
   background-color: #ff6181;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.sub {
  text-align: center;
}

.subs {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

img {
  width: 40%;
  height: 20%;
  border-style: solid;
  border-radius: 30px;
  border-width: 10px;
  border-color: #ff6181;
}

.heh {
  display: flex;
  float: right;
  margin-right: 250px;
  margin-top: 150px;
  font-size: 50px;
  background-color: #ff7575;
  border-radius: 40px;
  color: white;

}

.modified_curve {
  display: flex;
  float: right;
  margin-right: 70px;
  background-color: #ff7575;
    border-radius: 40px;
}


code {
  font-size: 20px;
}
