.title {
  color: rgb(159,295,84);
  text-align: center;
  border: 4px solid rgb(178 140 74);
  background-color: rgb(178 140 74);
  padding: 20px;
}

p {
  color: black;
}

body {
  background-color:  rgb(242,225,84);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

hr {
  border: 10px solid green;
}

/* nav bar */
nav {
  border-bottom: 1px solid black;
  text-decoration: none;
  border: 0px;
  length: 100%;
}

.navs ul {
  list-style-type: none;
padding-left: 20px;
  padding-right: 100px;
  text-decoration: none;
  color: red;
    text-align: left;
}

 .navs a {
  padding: 27px;
  color: white;
  text-decoration: none;
    text-align: left;
}

.navs {
  background-color: green ;
  padding: 10px;
  text-align: center;
}

.navs li {
  color: rgb(189, 227, 250);
    text-align: left;
  font-size: 20px;
}

.navs a:hover{
  background-color: #d53626;
}

.navbar {
  display: inline-block;
  text-decoration: bold;
  text-align: left;
  color: white;
}

.headimg {
  width: 40%;
  height: 15%;
  margin-right: 20px;
  border: 5px solid red
}

/* home page */
.main {
  display: flex;
  align-items: center;
}

.intro {
  width: 60%;
  font-size: 30px;
  background-color: rgb(216 137 74);
  border: 10px dotted rgb(196, 226,248);
}

.enjoy {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

/* characters page */
 .group {
    margin-left: 30%;
      border: 5px solid red;
  }

  .meh {
    text-align: center;
    font-size: 20px;
  }

.imageleft {
  display: flex;
  align-items: center;
}

.picture1 {
  width: 40%;
  height: 60%;
  float: left;
  left: 0px;
}

.text1 {
  width: 60%;
  font-size: 30px;
  background-color: rgb(216 137 74);
  border: 10px dotted rgb(196, 226,248);
  right: 0px;
  margin-right: 40px;
}

/* table */
table, th, tr {
  border: 1px solid;
}

table {
  margin-left: 20%;
}

th {
  background-color: rgb(178 140 74);
  color: rgb(159,295,84);
  font-size: 15px;
}

/* animals page */

.groupy {
  margin-left: 30%;
  border: 5px solid red;
  height: 40%;
  width: 40%;
}

.picture {
  width: 30%;
  height: 30%;
}

/* crops page */

.croptable {
  margin-left: 28%;
}
