.title {
  color: rgb(159,295,84);
  text-align: center;
  border: 4px solid rgb(178 140 74);
  background-color: rgb(178 140 74);
  padding: 20px;
}

p {
  color: black;
}

body {
  background-color:  rgb(242,225,84);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}


nav {
  border-bottom: 1px solid black;
  text-decoration: none;
  border: 0px;
  length: 100%;
}

.navs ul {
  list-style-type: none;
padding-left: 20px;
  padding-right: 100px;
  text-decoration: none;
  color: red;
    text-align: left;
}

 .navs a {
  padding: 25px;
}

.navs {
  background-color: green ;
  padding: 10px;
  text-align: center;
}



.navs li {
  color: pink;
    text-align: left;

}

.navs a {
  color: white;
  text-decoration: none;
    text-align: left;
}

.navs a:hover{
  background-color: #d53626;
}

.navbar {
  display: inline-block;
  text-decoration: bold;
  text-align: left;
  color: white;
}

.headimg {
  width: 100%;
  height: 30%;
}
